@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up &middot; Elephant Template &middot; The fastest way to build Modern Admin APPS for any platform, browser, or device.</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="~/css/vendor.min.css">
    <link rel="stylesheet" href="~/css/elephant.min.css">
    <link rel="stylesheet" href="~/css/signup-3.min.css">
</head>
<body>
    <div class="signup">
        <div class="signup-body">
            <a class="signup-brand" href="index-2.html">
                <img class="img-responsive" src="~/img/logo.svg" alt="Elephant">
            </a>
            <h3 class="signup-heading">Giriş Yap</h3>
            <div class="signup-form">
                @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, true, new { data_toggle = "md-validator" }))
                {

                    @Html.AntiForgeryToken()          
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form-group md-label-floating">
                                <label class="control-label">Email</label><br />
                                <label class="radio-inline"><input type="radio" name="Optradio" value="ogrenci" checked>Öğrenci</label>
                                <label class="radio-inline"><input type="radio" value="ogretmen" name="Optradio">Öğretmen</label>
                                <br /><br />
                                <div class="input-group">
                                    <input id="form-control-17" class="form-control" name="Email" type="text" placeholder="eg. deniz.ozogul" required>
                                    <span class="input-group-addon" id="mailspan">@@ogr.duzce.edu.tr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form-group md-label-floating">
                                <input class="md-form-control" type="password" name="Password" minlength="6" data-msg-minlength="Şifre 6 karakterli olmalıdır" data-msg-required="Şifreniz gereklidir" required>
                                <label class="md-control-label">Şifre</label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
                }
            </div>
        </div>
        <div class="signup-footer">
            Hesabınız yok mu? <a href="/Account/Register">Kayıt Ol</a>
        </div>
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/elephant.min.js"></script>
    <script>


        $('input[type=radio][name=Optradio]').change(function () {
            if (this.value == 'ogretmen') {
                document.getElementById("mailspan").innerHTML = "@@duzce.edu.tr"
            }
            else if (this.value == 'ogrenci') {
                document.getElementById("mailspan").innerHTML = "@@ogr.duzce.edu.tr"
            }
        });
    </script>
</body>
</html>
