
@{
    ViewData["Title"] = "ListStudentForLesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<OdevTakip.Data.Model.Student>
<style>
    .modal-backdrop {
        position: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }
</style>
<button class="btn btn-primary" data-toggle="modal" data-target="#modalBounceIn" type="button">Öğrenci Ekle</button><br /><br />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>@ViewBag.Ders Dersi İçin Öğrenciler</strong>
            </div>
            <div class="card-body" data-toggle="match-height" style="">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Öğrenci Adı</th>
                            <th>Öğrenci Soyadı</th>
                            <th>Öğrenci Numarası</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.SchoolNumber</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="modalBounceIn" tabindex="-1" role="dialog" class="modal in">
    <div class="modal-dialog">
        <div class="modal-content animated bounceIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="form-control-6">Öğrenci Numarası</label>
                        <div class="col-sm-8">
                            <input id="number" class="form-control" name="lesson" type="text" required>
                        </div>
                    </div><br /><br />
                    <div class="m-t-lg">
                        <button class="btn btn-success" onclick="tıkla()" name="button" type="button">Kaydet</button>
                        <button class="btn btn-default" data-dismiss="modal" type="button">İptal</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>

    function getUrlParameters(parameter, staticURL, decode) {

        var currLocation = (staticURL.length) ? staticURL : window.location.search,
            parArr = currLocation.split("?")[1].split("&"),
            returnBool = true;

        for (var i = 0; i < parArr.length; i++) {
            parr = parArr[i].split("=");
            if (parr[0] == parameter) {
                return (decode) ? decodeURIComponent(parr[1]) : parr[1];
                returnBool = true;
            } else {
                returnBool = false;
            }
        }

        if (!returnBool) return false;
    }



    function tıkla() {
        var id = getUrlParameters("id", "", true);
        var number = document.getElementById("number").value;
        $.ajax({
            url: '/Lesson/AddStudent',
            data: {
                number: number,
                id: id
            },
            success: function (data) {
                location.reload();
            }
        });
    }

</script>