
@{
    ViewData["Title"] = "ListHomeworksForStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">

                <strong>Ödevler</strong>
            </div>
            <div class="card-body" data-toggle="match-height" style="">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ödev Adı</th>
                            <th>Dosya Yükle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <label class="file-upload-btn btn btn-primary">
                                        Upload files
                                        <input class="file-upload-input" type="file" onchange="uploadFiles('files');" name="files" id="files" accept="application/zip">
                                    </label>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function uploadFiles(inputId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        $.ajax(
            {
                url: "/File/Index",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    alert("Files Uploaded!");
                }
            }
        );
    }
</script>